<div class="alert alert-secondary">
    <a href="/admin" class="btn btn-dark">
        Administración
    </a>
    <a href="/admin/recetas/nueva" class="btn btn-dark">
        Nueva receta
    </a>
    <a href="/admin/auth/logout" class="btn btn-dark">
        Cerrar sesión
    </a>
</div>