<div class="alert alert-secondary">
    <a href="/recetas" class="btn btn-dark">
        Administración
    </a>
    <a href="/recetas/nueva" class="btn btn-dark">
        Nueva receta
    </a>
    <a href="/auth/logout" class="btn btn-dark">
        Cerrar sesión
    </a>
</div>